<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AppcoreAncestry", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="jumbotron" style="background-color:  aquamarine">
            <h1>appscore Ancestry</h1>
        </div>

        @RenderBody()

        <br />
        <br />
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-4">&copy; @DateTime.Now.Year - Appscore Ancestry Application</div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p><b>CONTACT</b></p>
                    <p><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+61 409 411 199</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;suraj.perera@tpg.com.au</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
